{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://st.mafiaonline.ru/css/forum.3.0.css?039">
<link rel="stylesheet" type="text/css" href="{% static 'tm.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<style>

</style>
<body>
{% now 'Y' as current_year %}
{% now 'm' as current_month %}
<!-- Navbar -->
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'landing' %}">Mafia TM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'tm_calendar' current_year current_month %}">Календарь турниров<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tm_FP' %}">Нормы FP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tm_roster' %}">Состав ТМ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tm_tournaments_list' %}">Турниры</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tm_rating' %}">Турнирный рейтинг</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tm_teams' %}">Команды</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Выход</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Вход</a>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}
<!-- Header -->

<div class="" style="padding:12px 16px"> </div>
<div class="col-md-8">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}"> {{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
<main role="main" class="panel text_container"  >
        <h2 style="text-align: center">{% block title %}{% endblock %}</h2>
        {% block content %}{% endblock %}
</main><!-- /.container -->

<!-- Footer -->
<footer class="panel text_container">
  <div class="">
    <a href="http://fb.com/mafiaonline.ru" class="footer_ico fa fa-facebook-official" title="http://fb.com/mafiaonline.ru" target="_blank"></a>
    <a href="https://instagram.com/mafiaonline.ru" class="footer_ico fa fa-instagram" target="_blank"></a>
    <a href="https://twitter.com/mafiaonline_ru" class="footer_ico fa fa-twitter" title="https://twitter.com/mafiaonline_ru" target="_blank"></a>
    <a href="https://telegram.me/mafiaonline" class="footer_ico fa fa-telegram" target="_blank" ></a>
 </div>
 <p>Powered by <a href="https://www.mafiaonline.ru/info/Evil%20bob" target="_blank">Evil bob</a></p>
</footer>
</body>
</html>
