{% extends 'landing/base.html' %}
{% block title %}
Нормы FP
{% endblock %}


{% block content %}
    <div class="text_container" style="text-align: justify">
    <p>Нормы Fair Play (FP, моветон) — свод общих правил, регулирующих этическую и моральную составляющие официальных турниров.</p>
<h4><strong>Основные определения</strong></h4>
<ul>
<li>Турнирные мастера (ТМ) — официальная структура, в ведении которой находится вся турнирная деятельность на проекте.</li>
<li>Официальный турнир — турнир, одобренный или проводимый Турнирными мастерами.</li>
<li>Куратор турнира — представитель ТМ, который является высшей инстанцией при проведении данного турнира, выполняет надзирательную функцию и обладает всеми правами и полномочиями для редактирования или отмены решений судьи и организаторов турнира.</li>
<li>Судья турнира — уполномоченное лицо, назначенное или одобренное ТМ, отвечающее за соблюдение регламента участниками турнира и вынесение всех решений и вердиктов, связанных с данным турниром.</li>
<li>Добивание (добив) — ход, направленный на посадку другого игрока, сделанный за 12 секунд и менее до окончания игрового дня.</li>
<li>«Математическая победа» — ситуация в партии, при которой её результат математически и логически очевиден и может не состояться лишь в случае нарушения FP или по техническим причинам.</li>
<li>Переигровка — аннулирование результата турнирной партии и её повторное проведение.</li>
</ul>
<h3><strong>Общие положения</strong></h3>
<ul>
<li>FP включают в себя:
<ul>
<li>основные тезисы;</li>
<li>«математическую победу»;</li>
<li>порядок переигровки турнирных партий.</li>
</ul>
</li>
<li>В регламенте любого турнира должно быть чётко оговорено использование или неиспользование FP.</li>
<li>В случае использования обязательными являются все компоненты FP, включая «математическую победу» и порядок переигровки, кроме 9-го, 10-го и 11-го тезисов.</li>
<li>Для сумеречных турнирных партий 9-й и 10-й тезисы не имеют силы; решение о наличии 11-го остаётся за организаторами турнира.</li>
<li>Формулировки тезисов, определение «математической победы» и порядок переигровки изменениям поддаваться не могут.</li>
<li>Какие-либо другие дополнения, новые тезисы или запреты, которые тем или иным образом можно считать составляющей FP, организаторам турнира добавлять в регламент запрещено.</li>
</ul>
<h3><strong>Основные тезисы FP</strong></h3>
<p>Нарушениями FP являются:</p>
<ol class="decimal">
<li>Действия, направленные на получение игровых преимуществ неигровыми способами, такими как передача игрового персонажа, использование «багов» игры и т.п.</li>
<li>Оглашение своей роли/роли напарника в общий чат, когда это не является одним из элементов тактики, что подтверждается разумным смыслом и логикой партии.</li>
<li>Передача ценной игровой информации вне общего чата партии или невидимым приватом:
<ul>
<li>разглашение своих ролей;</li>
<li>разглашение комиссаром/cержантом или врачом информации о проверенных/вылеченных им игроках;</li>
<li>разглашение факта нахождения «в морозе»;</li>
<li>обсуждение трупов и любые договоры с маньяком;</li>
<li>разглашение любой иной информации, которую нельзя почерпнуть в общем чате (исключением является общение мафиози друг с другом).</li>
</ul>
</li>
<li>Немотивированные халатные действия/бездействия, противоречащие логике партии и здравому смыслу, послужившие причиной поражения своей стороны или ничьей, либо ставшие причиной омона независимо от его результата.</li>
<li>Немотивированные халатные действия/бездействия, противоречащие логике партии и здравому смыслу, которые не стали непосредственной причиной поражения своей стороны или ничьей или вообще к таковым не привели.</li>
<li>Признанное сотрудником службы игровой этики нарушение 3-го или 5-го пункта <a class="break-word" href="http://mafiaweb.ru/forum/viewtopic.php?id=510969" target="_blank" rel="nofollow">правил честной игры</a>.</li>
<li>Полное неучастие и отсутствие признаков активности игрока в течение партии при фактическом нахождении в ней.</li>
<li>Контактирование с игроками партии вне общего чата, с игроками своей команды и со всеми другими, не имеющими отношения к турнирной партии, во время её проведения (исключением является общение мафии друг с другом и комиссара с сержантом).</li>
<li>Добивание, приведшее к посадке добиваемого.</li>
<li>Добивание, не приведшее к посадке добиваемого.<br>
<em><u>Исключения для тезисов 9 и 10:</u></em><p></p>
<ul>
<li>Ход игрока является решающим (остальные участники партии своими голосами не могут изменить результат голосования).</li>
<li>Ход несходившего напарника игрока, сделанный на добиваемого, был бы решающим.</li>
<li>Игровая ситуация на момент хода является потенциальным омоном.</li>
<li>Ход игрока не стал ключевым в посадке добиваемого.</li>
</ul>
</li>
<li>Шёпот.</li>
<li>Дача любых видов клятв, честных слов, заключение споров, угрозы, вымогательство.</li>
<li>Доказательство своей роли, состояния либо другой игровой информации любыми неигровыми способами, такими как копирование/подделка строки с ролью, проверка игрока в заранее объявленное время, убийство заранее объявленного игрока, грубая и излишняя экспансивность и т.п.</li>
<li>Оскорбление чести и достоинства игрока турнира или команды, выраженное в произвольной форме, употребление нецензурных высказываний, содержащих обсценную лексику (мат), завуалированный мат, а также иные выражения и/или ругательства, в том числе сленговые, выраженные в грубой форме и/или противоречащие общим принципам нравственности и морали в турнирной партии.</li>
<li>Неспортивное поведение во время партии или турнира, такое как намеренная неявка, посадка по неигровым причинам и т.п.</li>
</ol>
<h3><strong>«Математическия победа»</strong></h3>
<ul>
<li>Решение о присуждении «математической победы» принимает судья турнира.</li>
<li>Основанием для присуждения «математической победы» могут служить нарушения, подпадающие под 4-й тезис FP, либо технические проблемы с сайтом <a class="break-word" href="http://mafiaweb.ru/" target="_blank" rel="nofollow">http://mafiaweb.ru/</a> или самого игрока в течение турнирной партии.</li>
</ul>
<h3><strong>Порядок переигровки турнирных партий</strong></h3>
<ul>
<li>Решение о переигровке принимает судья турнира.</li>
<li>Основанием для переигровки могут служить нарушения, подпадающие под 1-й, 2-й и 3-й тезисы FP, либо технические проблемы с сайтом <a class="break-word" href="http://mafiaweb.ru/" target="_blank" rel="nofollow">http://mafiaweb.ru/</a> во время проведения турнирной партии.</li>
<li>Поводом для рассмотрения возможности переигровки на основании 3-го тезиса FP является заявка в <a class="break-word" href="http://mafiaweb.ru/forum/viewcat.php?id=105" target="_blank" rel="nofollow">соответствующую форумную ветку</a> службы игровой этики.</li>
</ul>
<h3><strong>Порядок апеллирования решения судьи</strong></h3>
<ul>
<li>Игрок или команда может оспорить решение судьи путём подачи апелляции на имя куратора.</li>
<li>Апелляция пишется на почту куратора (если не оговорен другой способ) по форме:
<ol class="decimal">
<li>Название турнира.</li>
<li>Игрок или команда, подающие апелляцию.</li>
<li>Ссылка на партию.</li>
<li>Ссылка на решение судьи.</li>
<li>Суть претензии.</li>
</ol>
</li>
<li>Срок рассмотрения апелляции — двое суток с момента её подачи.</li>
</ul>
<h3><strong>Дополнение</strong></h3>
<ul>
<li>Нарушения FP вне зависимости от их использования в каком-либо турнире могут повлечь санкции, выходящие за рамки данного турнира, исходя из <a class="break-word" href="http://mafiaweb.ru/forum/viewtopic.php?id=513400" target="_blank" rel="nofollow">правил проведения турниров</a>.</li>
</ul>
<h5><span style="color: #800000;">Все вопросы или потенциальные нарушения норм FP, не оговоренные в данных правилах, разрешаются лично Руководителем Турнирных мастеров или куратором турнира.</span></h5>
    </div>
{% endblock %}
