{% extends 'landing/base.html' %}
{% block title %}
    Главная страница
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    {% for tournament in tournaments %}
        <div style="margin: 5px;">
            <img src="{{ tournament.preview_image.url }}" alt="{{ tournament.preview_image.url }}"/>
            <br>
            <span style="display:block; text-align: center;"><a href="{% url 'tournament' tournament.id %}">{{ tournament.name }}</a></span>
        </div>
    {% endfor %}
</div>

{% endblock %}