{% extends 'landing/base.html' %}
{% block title %}
    Список игроков
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Игрок</th>
            <th>Допуск</th>
            <th>В команде</th>
            <th>Команда</th>
            <th>Пригласить в команду</th>
        </tr>
    </thead>
    {% for player in players %}
        <tr>
            <td>{{ player.user.username }}</td>
            <td>{{ player.access }}</td>
            <td> {% if player.in_team %} Да {% else %} Нет {% endif %}</td>
            <td> {% if player.team %} {{ player.team }} {% else %} Без команды {% endif %}</td>
            <td>
            {% if user.is_authenticated and not player.in_team %}
                {% for ot in owned_teams %}
                    {% if player.access <= ot.league and player.team != ot %}
                        <form action="{% url 'contract' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">Пригласить в команду {{ ot.name }}</button>
                            <input type="hidden" name="player" value="{{player.user.id}}" />
                            <input type="hidden" name="team_owner" value="{{user.id}}" />
                            <input type="hidden" name="team" value="{{ot.id}}" />
                            <input type="hidden" name="contract_status" value="1" />
                        </form>
                    {% endif %}
                    <br>
                {% endfor %}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}