{% extends 'landing/base.html' %}
{% block title %}
    Состав ТМ
{% endblock %}

{% block content %}
<div class="table-responsive">
<table id="sostav" class="table table-striped">
<thead>
<tr>
<th >Ник</th>
<th >Отдел</th>
<th>Комментарий</th>
</tr>
</thead>
<tbody>
    {% for tm in tms %}
    <tr>
        <td>{{tm.user.username}}</td>
        <td>
            {% if tm.cups == 1%}
                <span class="tm-trophy tm-trophy-gold"><i class="fa fa-trophy"></i></span>
            {% elif tm.cups == 2%}
                <span class="tm-trophy tm-trophy-silver"><i class="fa fa-trophy"></i></span>
            {% endif%}
            {{tm.status}}
        </td>
        <td>{{tm.comment}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endblock %}