{% extends 'landing/base.html' %}
{% block title %}
    Список команд
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Команда</th>
            <th>Лига</th>
            <th>Владелец</th>
            <th>Дата создания</th>
            <th>Кубки</th>
            <th>Состав</th>
            <th>Рыночная стоимость</th>
            <th>Подать заявку</th>
        </tr>
    </thead>
    {% for team in teams %}
        <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.league }}</td>
            <td>{{ team.owner.username }}</td>
            <td> {{ team.creation_date}} </td>
            <td> -- </td>
            <td>
            {% if team.userprofile_set.all %}
                {% for usr in team.userprofile_set.all %}
                    {{ usr.user.username }}<br>
                {% endfor %}
            {% endif %}
            </td>
            <td> {{ team.team_value}} </td>
            <td>
              {% if user.is_authenticated and not user.userprofile.in_team and user.userprofile.access <= team.league %}
                <form action="{% url 'contract' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Подать заявку</button>
                    <input type="hidden" name="player" value="{{user.id}}" />
                    <input type="hidden" name="team_owner" value="{{team.owner.id}}" />
                    <input type="hidden" name="team" value="{{team.id}}" />
                    <input type="hidden" name="contract_status" value="2" />
                </form>
              {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}