{% extends 'landing/base.html' %}
{% block title %}
    Список команд
{% endblock %}

{% block content %}
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Команда</th>
            <th>Лига</th>
            <th>Владелец</th>
            <th>Дата создания</th>
            <th>Кубки</th>
            <th>Состав</th>
            <th>Подать заявку</th>
        </tr>
    </thead>
    {% for team in teams %}
        <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.league }}</td>
            <td>{{ team.owner.username }}</td>
            <td> {{ team.creation_date}} </td>
            <td> -- </td>
            <td> {% for usr in team.userprofile_set.all %} {{ usr.user.username }} {% endfor %}</td>
            <td>
              {% if user.is_authenticated %}  <button type="submit">Подать заявку</button> {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}