{% extends 'landing/base.html' %}
{% block title %}
    Список турниров
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Турнир</th>
            <th>Название</th>
            <th>Начало</th>
            <th>Окончание</th>
            <th>Описание</th>
        </tr>
    </thead>
    {% for tournament in tournaments %}
        <tr>
            <td><a href="{% url 'tournament' tournament.id %}"><img class="img-thumbnail" src="{{ tournament.preview_image.url }}" alt="{{ tournament.preview_image.url }}"/></a></td>
            <td><a href="{% url 'tournament' tournament.id %}">{{ tournament.name }}</a></td>
            <td>{{ tournament.start_date }}</td>
            <td> {{ tournament.end_date}} </td>
            <td> {{tournament.description|safe}} </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}